<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="true">
    <mat-toolbar>Activities</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class='return-item' routerLink="returns" routerLinkActive='active'>Return Items</a>
      <a mat-list-item class='return-item' routerLink="returns-count" routerLinkActive='active'>Return Items Count</a>
      <a mat-list-item class='return-item' routerLink="faulty" routerLinkActive='active'>Faulty Items</a>
      <a mat-list-item class='return-item' routerLink="faulty-count" routerLinkActive='active'>Faulty Items Count</a>
      <a mat-list-item class='return-item' routerLink="no-info" routerLinkActive='active'>No Info Items</a>
      <a mat-list-item class='return-item' routerLink="no-info-count" routerLinkActive='active'>No Info Items Count</a>
      <a mat-list-item class='return-item' routerLink="not-processed" routerLinkActive='active'>Not Processed Items</a>
      <a mat-list-item class='return-item' routerLink="not-processed-count" routerLinkActive='active'>Not Processed Count</a>
      <a mat-list-item class='return-item' routerLink="report" routerLinkActive='active'>Report</a>
      <a mat-list-item class='return-item' routerLink="reason-keys" routerLinkActive='active'>Return Reasons</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Returns Management App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
