<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="dateOfReturn">
    <th mat-header-cell *matHeaderCellDef style="width: 50%;"> Date of Return </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfReturn | date : 'dd/MM/yyyy'}} </td>
  </ng-container>
  <ng-container matColumnDef="numberOfReturns">
    <th mat-header-cell *matHeaderCellDef style="width: 50%;"> Number of Returns </th>
    <td mat-cell *matCellDef="let element"> {{element.numberOfReturns}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let i = index; let row; columns: displayedColumns;"></tr>
</table>