.container {
  position: relative;
}

.table-container {
  position: relative;
  max-height: 80vh;
  overflow: auto;
}

[mat-table] {
  width: 100%;
}

[mat-table] tr[mat-row] {
  cursor: pointer;
}

[mat-table] tr[mat-row].selected {
  background-color: #1976d2;
}

[mat-table] tr[mat-row].selected td {
  color: #fafafa !important;
}

[mat-table] tr[mat-row]:hover {
  background-color: #bddaf7;
}

form {
  width: 100%;
  margin-top: 10px;
}

.button-row button {
  margin-right: 10px;
}

.dt-picker input {
  padding-left: 20px;
}

.button-row {
  padding-left: 10px;
}
