<div class="container mat-elevation-z8">
  <form>
    <mat-form-field class='dt-picker' style="width: 15%;">
      <input matInput [matDatepicker]="picker" placeholder="Date of Return" [(ngModel)]="faultyItem.dateOfReturn" [ngModelOptions]="{standalone: true}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 15%;">
      <input matInput placeholder="Magento Order #" [(ngModel)]="faultyItem.magentoOrderNo" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field style="width: 15%;">
      <input matInput placeholder="Return Number" [(ngModel)]="faultyItem.returnNumber" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field style="width: 25%;">
      <input matInput placeholder="StockNumber" [(ngModel)]="faultyItem.stockNumber" [ngModelOptions]="{standalone: true}" #input (input)="input.value=$event.target.value.toUpperCase()">
    </mat-form-field>
    <mat-form-field style="width: 15%;">
      <mat-select placeholder="Reason Code" [(value)]="faultyItem.reasonCode" multiple>
        <mat-option *ngFor="let code of reasonCodes" [value]="code.value">
          {{code.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 15%;">
      <input matInput placeholder="Fault Description" [(ngModel)]="faultyItem.faultDescription" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </form>
  <div class="button-row">
    <button mat-raised-button color="warn" [disabled]="isEditProduct" (click)="addProduct()">Add Product</button>
    <button mat-raised-button color="warn" [disabled]="!isEditProduct" (click)="editProduct()">Edit Product</button>
    <button mat-raised-button color="warn" [disabled]="!isEditProduct" (click)="deleteProduct()">Delete Product</button>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="dateOfReturn" matSortDisableClear matSortDirection="desc" class="mat-elevation-z8">
      <ng-container matColumnDef="dateOfReturn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear style="width: 15%;"> Date of Return </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfReturn | date : 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="magentoOrderNo">
        <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Magento Order # </th>
        <td mat-cell *matCellDef="let element"> {{element.magentoOrderNo}} </td>
      </ng-container>
      <ng-container matColumnDef="returnNumber">
        <th mat-header-cell *matHeaderCellDef  style="width: 15%;"> Return Number </th>
        <td mat-cell *matCellDef="let element"> {{element.returnNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="stockNumber">
        <th mat-header-cell *matHeaderCellDef style="width: 25%;"> SKU </th>
        <td mat-cell *matCellDef="let element"> {{element.stockNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="reasonCode">
        <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Reason Code </th>
        <td mat-cell *matCellDef="let element"> {{element.reasonCode}} </td>
      </ng-container>
      <ng-container matColumnDef="faultDescription">
        <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Fault Description </th>
        <td mat-cell *matCellDef="let element"> {{element.faultDescription}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let i = index; let row; columns: displayedColumns;" (click)="selectRow(row, i)" [ngClass]="{'selected': row.isSelected}"></tr>
    </table>
  </div>
</div>